node_modules
/vendor
.env
.DS_Store
/public/storage
/storage/*.key
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/*.sqlite
/.vscode
/.env.*
/coverage
.phpunit.result.cache
/.sass-cache
/.cache
/.pnp
.pnp.js
/.next
/.nuxt
/homestead.yaml
/homestead.json
.env.backup
.env.example
composer.lock
package-lock.json